<aside class="sidebar">
  <ul class="sidebar-menu">
    <li>
      <a routerLink="/profilepage" class="menu-item">
        <span class="material-icons">account_circle</span>
        {{ userName }}
      </a>
    </li>
    <li>
      <a routerLink="/events" class="menu-item">
        <span class="material-icons">event</span>
        Events
      </a>
    </li>
    <li>
      <a routerLink="/friends" class="menu-item">
        <span class="material-icons">person_outline</span>
        Friends
      </a>
    </li>
    <li>
      <a (click)="toggleMessagePopup()" class="menu-item">
        <span class="material-icons">message</span>
        Messages
      </a>
    </li>
  </ul>
</aside>

<app-messaging *ngIf="isMessagePopupVisible"></app-messaging>
