.activity-card {
  background-color: var(--input-bg-color);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.activity-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.activity-card .stats {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
