<div class="comments-overlay">
  <div class="comments-popup">
    <div class="comments-header">
      <h3>Publication</h3>
      <button mat-icon-button (click)="closePopup()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="post-details">
      <img *ngIf="postImage" [src]="'http://localhost:5000/uploads/' + postImage" alt="Post Image" class="post-image" />
      <p class="post-description">{{ postContent }}</p>
    </div>
    <div class="comments-section">
      <div class="comment" *ngFor="let comment of comments">
        <mat-icon class="comment-icon">account_circle</mat-icon>
        <div class="comment-content">
          <p class="comment-name">{{ comment.userId?.firstName }} {{ comment.userId?.lastName }}</p>
          <p class="comment-text">{{ comment.text }}</p>
        </div>
      </div>
    </div>
    <div class="comment-input">
      <mat-icon class="comment-icon">account_circle</mat-icon>
      <textarea placeholder="Add a comment..." [(ngModel)]="newComment"></textarea>
      <button mat-raised-button color="primary" (click)="addComment()">Send</button>
    </div>
  </div>
</div>
