<div class="notification-container">
    <button class="notification-icon" (click)="isMenuOpen = !isMenuOpen">
      <span class="material-icons">notifications</span>
      <span class="notification-badge" *ngIf="unreadNotificationsCount > 0">
        {{ unreadNotificationsCount }}
      </span>
    </button>
    <div class="notification-menu" *ngIf="isMenuOpen">
      <h4>Notifications</h4>
      <ul>
        <li *ngFor="let notification of notifications" [class.read]="notification.read">
          <span>{{ notification.message }}</span>
          <button *ngIf="!notification.read" (click)="markAsRead(notification)">
            Marquer comme lu
          </button>
        </li>
      </ul>
      <button class="clear-btn" (click)="clearAllNotifications()" *ngIf="notifications.length > 0">
        Effacer tout
      </button>
      <p *ngIf="notifications.length === 0">Aucune notification</p>
      <button class="close-btn" (click)="closeNotifications()">Fermer</button>
    </div>
  </div>
  