<div *ngFor="let post of posts" class="post-card">
  <mat-card>
    <mat-card-header>
      <div class="profile-container">
        <mat-icon class="profile-icon" color="primary">account_circle</mat-icon>
        <div class="profile-text">
          <mat-card-title class="post-title">
            {{ post.userId?.firstName }} {{ post.userId?.lastName }}
          </mat-card-title>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p class="post-content">{{ post.content }}</p>
    </mat-card-content>
    <img *ngIf="post.image" mat-card-image [src]="'http://localhost:5000/uploads/' + post.image" alt="Post Image" class="post-image" />
    <mat-card-actions class="post-actions">
      <div class="action-item" (click)="openComments(post)">
        <mat-icon color="primary">chat_bubble_outline</mat-icon>
        <span class="action-label">Comment</span>
      </div>
    </mat-card-actions>
  </mat-card>
  <app-comments
    *ngIf="showComments && selectedPost === post"
    [postId]="post._id"
    [postContent]="post.content"
    [postImage]="post.image"
    (close)="closeComments()">
  </app-comments>
</div>
