<div id="profile" [ngClass]="{'active': show, 'idle': !show}">
    <div id="profile-content">
        <div class="image-container">
            <label for="upload-photo">
                <img
                    *ngIf="profileImage; else defaultImage"
                    [src]="profileImage"
                    alt="Profile Image"
                    id="preview-pic"
                />
                <ng-template #defaultImage>
                    <div id="default-photo">Add Photo</div>
                </ng-template>
            </label>
            <input
                type="file"
                id="upload-photo"
                (change)="onFileSelected($event)"
                accept="image/*"
                hidden
            />
        </div>
        <form (submit)="onSubmit($event)">
            <div class="form-group">
                <input
                    type="text"
                    placeholder="Enter your first name"
                    [(ngModel)]="firstName"
                    name="firstName"
                    required
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    placeholder="Enter your last name"
                    [(ngModel)]="lastName"
                    name="lastName"
                    required
                />
            </div>
            <div class="form-group">
                <input
                    type="date"
                    placeholder="Enter your date of birth"
                    [(ngModel)]="dateOfBirth"
                    name="dateOfBirth"
                    required
                />
            </div>
            <div class="form-group">
                <input
                    type="text"
                    placeholder="Enter your address"
                    [(ngModel)]="address"
                    name="address"
                    required
                />
            </div>
            <div class="form-group">
                <select id="sport" [(ngModel)]="sport" name="sport" required>
                    <option value="football">Football</option>
                    <option value="basketball">Basketball</option>
                    <option value="natation">Natation</option>
                    <option value="tennis">Tennis</option>
                    <option value="autre">Autre</option>
                </select>
            </div>
            <div class="form-group">
                <textarea
                    placeholder="Description"
                    [(ngModel)]="description"
                    name="description"
                ></textarea>
            </div>
            <button type="submit">Continue</button>
        </form>
    </div>
</div>