<div class="suggested-friends-container">
  <h3>Suggested Friends</h3>

  <div class="friend-card" *ngFor="let friend of suggestedFriends">
    <div class="friend-info">
      <img [src]="friend.image" alt="{{ friend.name }}" class="friend-image" />
      <div class="text-content">
        <h4>{{ friend.name }}</h4>
        <p>{{ friend.location }}</p>
        <p>{{ friend.mutual }}</p>
      </div>
    </div>
    <button class="follow-button">Follow</button>
  </div>

  <button class="invite-button">Find and Invite Your Friends</button>
</div>
